# Particles
public net.minecraft.client.particle.ParticleEngine$SpriteParticleRegistration

# Recipe Datagen
public-f net.minecraft.data.recipes.RecipeProvider getName()Ljava/lang/String;

# Levitite Rendertype
public net.minecraft.client.renderer.RenderType create(Ljava/lang/String;Lcom/mojang/blaze3d/vertex/VertexFormat;Lcom/mojang/blaze3d/vertex/VertexFormat$Mode;IZZLnet/minecraft/client/renderer/RenderType$CompositeState;)Lnet/minecraft/client/renderer/RenderType$CompositeRenderType;
