
public net.minecraft.world.item.CreativeModeTab$TabVisibility

# Entity Storage
public net.minecraft.server.level.ServerLevel entityManager
public net.minecraft.world.level.entity.PersistentEntitySectionManager sectionStorage
public net.minecraft.world.entity.Entity levelCallback

# Laser Render Type
public net.minecraft.client.renderer.RenderType$CompositeState
public net.minecraft.client.renderer.RenderStateShard$TextureStateShard
public net.minecraft.client.renderer.RenderStateShard TRANSLUCENT_TRANSPARENCY
public net.minecraft.client.renderer.RenderStateShard COLOR_DEPTH_WRITE
public net.minecraft.client.renderer.RenderStateShard NO_CULL
public net.minecraft.client.renderer.RenderStateShard$TextureStateShard
public net.minecraft.client.renderer.RenderType create(Ljava/lang/String;Lcom/mojang/blaze3d/vertex/VertexFormat;Lcom/mojang/blaze3d/vertex/VertexFormat$Mode;IZZLnet/minecraft/client/renderer/RenderType$CompositeState;)Lnet/minecraft/client/renderer/RenderType$CompositeRenderType;
public net.minecraft.client.renderer.RenderStateShard LIGHTMAP
public net.minecraft.client.renderer.RenderStateShard BLOCK_SHEET_MIPPED
public net.minecraft.client.renderer.RenderStateShard RENDERTYPE_CUTOUT_SHADER

public net.minecraft.world.entity.projectile.Projectile ownerUUID

public-f net.minecraft.world.inventory.Slot x # x
public-f net.minecraft.world.inventory.Slot y # y

public net.minecraft.world.inventory.AbstractContainerMenu lastSlots # lastSlots
public net.minecraft.world.inventory.AbstractContainerMenu remoteSlots # remoteSlots

# Particles
public net.minecraft.client.particle.ParticleEngine$SpriteParticleRegistration

# End Sea
public net.minecraft.client.renderer.RenderStateShard name

# Recipe Datagen
public-f net.minecraft.data.recipes.RecipeProvider getName()Ljava/lang/String;

# Contraption Diagram
public-f net.minecraft.world.entity.decoration.HangingEntity recalculateBoundingBox()V # recalculateBoundingBox
public-f net.minecraft.client.renderer.LevelRenderer renderEntity(Lnet/minecraft/world/entity/Entity;DDDFLcom/mojang/blaze3d/vertex/PoseStack;Lnet/minecraft/client/renderer/MultiBufferSource;)V

# Hot Air Lighting
public net.minecraft.client.renderer.block.ModelBlockRenderer CACHE
public net.minecraft.client.renderer.block.ModelBlockRenderer$AmbientOcclusionFace
public net.minecraft.client.renderer.block.ModelBlockRenderer$Cache

# Rope
public net.minecraft.server.network.ServerGamePacketListenerImpl aboveGroundTickCount
public net.minecraft.server.network.ServerGamePacketListenerImpl aboveGroundVehicleTickCount

# Physics Staff
public net.minecraft.client.renderer.GameRenderer getFov(Lnet/minecraft/client/Camera;FZ)D
public net.minecraft.client.Camera eyeHeight # eyeHeight
public net.minecraft.client.Camera eyeHeightOld # eyeHeightOld

public net.minecraft.client.renderer.texture.SpriteContents$Ticker

public net.minecraft.world.item.crafting.Ingredient fromValues(Ljava/util/stream/Stream;)Lnet/minecraft/world/item/crafting/Ingredient;
public net.minecraft.world.item.crafting.Ingredient$ItemValue
public net.minecraft.world.item.crafting.Ingredient$TagValue