public net.minecraft.client.renderer.block.ModelBlockRenderer$Cache
public net.minecraft.server.level.ChunkHolder entityTickingChunkFuture
public net.minecraft.server.level.ChunkHolder tickingChunkFuture
public net.minecraft.server.level.ChunkHolder fullChunkFuture
public net.minecraft.client.renderer.block.BlockRenderDispatcher modelRenderer
public net.minecraft.client.renderer.block.ModelBlockRenderer$AmbientOcclusionFace
public net.minecraft.server.level.ServerChunkCache$MainThreadExecutor
public net.minecraft.client.renderer.LevelRenderer cullingFrustum
public net.minecraft.world.entity.projectile.AbstractHurtingProjectile accelerationPower
public net.minecraft.world.entity.projectile.Projectile Projectile(Lnet/minecraft/world/entity/EntityType;Lnet/minecraft/world/level/Level;)V
public net.minecraft.server.level.ServerChunkCache$ChunkAndHolder
public net.minecraft.server.level.ServerChunkCache$ChunkAndHolder <init>(Lnet/minecraft/world/level/chunk/LevelChunk;Lnet/minecraft/server/level/ChunkHolder;)V
public-f net.minecraft.client.renderer.chunk.SectionRenderDispatcher bufferPool
public-f net.minecraft.world.entity.ai.attributes.AttributeSupplier instances
public net.minecraft.server.level.ServerPlayer findRespawnAndUseSpawnBlock(Lnet/minecraft/server/level/ServerLevel;Lnet/minecraft/core/BlockPos;FZZ)Ljava/util/Optional;
public net.minecraft.client.renderer.chunk.SectionRenderDispatcher$RenderSection updateGlobalBlockEntities(Ljava/util/Collection;)V
public net.minecraft.client.renderer.chunk.SectionRenderDispatcher$RenderSection setCompiled(Lnet/minecraft/client/renderer/chunk/SectionRenderDispatcher$CompiledSection;)V
public net.minecraft.world.entity.Entity removalReason
public net.minecraft.world.entity.Entity levelCallback
public-f net.minecraft.world.entity.Entity getEyePosition(F)Lnet/minecraft/world/phys/Vec3;
public-f net.minecraft.world.entity.Entity setRemoved(Lnet/minecraft/world/entity/Entity$RemovalReason;)V
public net.minecraft.server.level.ChunkLevel ENTITY_TICKING_LEVEL
public net.minecraft.server.level.ChunkLevel BLOCK_TICKING_LEVEL
public net.minecraft.world.entity.decoration.HangingEntity calculateSupportBox()Lnet/minecraft/world/phys/AABB;
public net.minecraft.world.entity.LivingEntity dismountVehicle(Lnet/minecraft/world/entity/Entity;)V
public net.minecraft.world.level.lighting.LevelLightEngine skyEngine
public net.minecraft.world.level.lighting.LevelLightEngine blockEngine
public net.minecraft.server.level.ThreadedLevelLightEngine runUpdate()V
public net.minecraft.server.level.ThreadedLevelLightEngine updateChunkStatus(Lnet/minecraft/world/level/ChunkPos;)V
public net.minecraft.client.renderer.block.ModelBlockRenderer CACHE
public net.minecraft.server.network.PlayerChunkSender sendChunk(Lnet/minecraft/server/network/ServerGamePacketListenerImpl;Lnet/minecraft/server/level/ServerLevel;Lnet/minecraft/world/level/chunk/LevelChunk;)V
public net.minecraft.server.network.ServerCommonPacketListenerImpl connection
public net.minecraft.client.multiplayer.ClientChunkCache$Storage
public net.minecraft.network.Connection channel
public net.minecraft.client.renderer.RenderStateShard name
public net.minecraft.client.renderer.ShaderInstance samplerLocations
public net.minecraft.world.level.entity.PersistentEntitySectionManager sectionStorage
public net.minecraft.world.level.storage.DimensionDataStorage dataFolder
public net.minecraft.client.renderer.GameRenderer getFov(Lnet/minecraft/client/Camera;FZ)D
public-f net.minecraft.server.level.GenerationChunkHolder rescheduleChunkTask(Lnet/minecraft/server/level/ChunkMap;Lnet/minecraft/world/level/chunk/status/ChunkStatus;)V
public net.minecraft.client.particle.Particle zo
public net.minecraft.client.particle.Particle yo
public net.minecraft.client.particle.Particle xo
public net.minecraft.client.particle.Particle x
public net.minecraft.client.particle.Particle y
public net.minecraft.client.particle.Particle zd
public net.minecraft.client.particle.Particle z
public net.minecraft.client.particle.Particle yd
public net.minecraft.client.particle.Particle xd
public net.minecraft.world.level.ClipContext collisionContext
public net.minecraft.world.level.ClipContext fluid
public net.minecraft.world.level.ClipContext block
public net.minecraft.server.level.ChunkMap$DistanceManager
public net.minecraft.server.level.ServerPlayer$RespawnPosAngle
public net.minecraft.server.level.ServerPlayer$RespawnPosAngle <init>(Lnet/minecraft/world/phys/Vec3;F)V
public net.minecraft.server.level.ChunkMap unloadQueue
public net.minecraft.server.level.ChunkMap toDrop
public net.minecraft.server.level.ChunkMap updatingChunkMap
public net.minecraft.server.level.ChunkMap visibleChunkMap
public net.minecraft.server.level.ChunkMap modified
public net.minecraft.server.level.ChunkMap chunkSaveCooldowns
public net.minecraft.server.level.ChunkMap scheduleUnload(JLnet/minecraft/server/level/ChunkHolder;)V
public net.minecraft.server.level.ChunkMap onFullChunkStatusChange(Lnet/minecraft/world/level/ChunkPos;Lnet/minecraft/server/level/FullChunkStatus;)V
public net.minecraft.server.level.ChunkMap getChunks()Ljava/lang/Iterable;
public net.minecraft.server.level.ChunkMap saveChunkIfNeeded(Lnet/minecraft/server/level/ChunkHolder;)Z
public net.minecraft.server.level.ServerLevel entityManager

# Physics Chunk Ticket Manager
public net.minecraft.server.level.Ticket <init>(Lnet/minecraft/server/level/TicketType;ILjava/lang/Object;)V
public net.minecraft.server.level.DistanceManager tickingTicketsTracker
public net.minecraft.server.level.DistanceManager addTicket(JLnet/minecraft/server/level/Ticket;)V
public net.minecraft.server.level.DistanceManager removeTicket(JLnet/minecraft/server/level/Ticket;)V